@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, serif;
  --font-sans: var(--font-sans), var(--font-thai), ui-sans-serif, system-ui, sans-serif;
  --font-thai: var(--font-thai);
  
  --color-brand-blue: #002B49;
  --color-brand-green: #6EE7B7;
  --color-brand-beige: #F9F8F4;
}

:root {
  --background: #0B132B;
  --foreground: #FAFAFA;
}

/* ป้องกันหน้าเด้งและจัดการ Scroll */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  
  /* ปิด Scrollbar เพื่อความคลีน */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* ปิด Smooth Scroll อัตโนมัติที่ทำให้หน้าเด้ง */
html {
  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}